@import url("https://rsms.me/inter/inter.css");

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin-top: 5em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #fdfdfd;
    font-family: "Inter", sans-serif !important;
}

#root {
    width: 50ch;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input:not([type="checkbox"]) {
    width: 100%;
    border: none;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    margin-top: 2em;
    margin-bottom: 4em;

    background: white;
}

input:focus {
    outline: none;
}

.anticon-close {
    width: 32px !important;
    cursor: pointer;
    color: #c0c0c0;
}

.anticon-close:hover {
    color: #272730;
}

.item {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
    border: 1px solid #333;
    padding: 14px;
}

.item>span {
    display: inline-block;
    width: 100%;
}

h1 {
    font-size: 10em;
    font-weight: 800;
    margin: 0;
    padding: 0;
    letter-spacing: -5px;
    color: black;
    white-space: nowrap;
}

.container {
    /* cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto; */
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.content {
    position: relative;
    width: 200px;
    height: 100px;
}

.content>div {
    position: absolute;
    width: 200px;
    height: 36px;
    transform-origin: 50% 50% 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    touch-action: none;
}

.legend {
    text-align: right;
}

.hour-row {
    height: 40px;
    padding: 8px;
    position: relative;
}

.hour-row::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 1px;
    background: #333;
}

.event-name {
    user-select: none;
    color: #333;
    background: #ddd;
    border-radius: 5px;
    width: 100%;
    border-left: 4px solid #333;
    margin: 2px 0;
    height: 36px;
    padding: 6px 0;
    padding-left: 32px;
    font-size: 10px;
}
